.playlist__create-icon {
	margin-bottom: 15px;
	font-size: 4.7rem;
	font-weight: 100;
	line-height: 4.7rem;
	text-align: center;
	color: var(--text-color);
}

.playlist__create-annotate {
	font-size: 1.4rem;
	line-height: 2.1rem;
	color: var(--text-color);
}
