/* Explore event */
.item--event .row__item-display {
	margin-bottom: 8px;
}

.item--event .event__button {
	min-width: 70px;
}

.item--event .event__button span {
	padding: 9px 20px;
	white-space: nowrap;
}

.info__title.event--title {
	line-height: 2.1rem;
}
