.sidebar__subnav {
  flex: 1;
  width: 100%;
  margin: 10px 0 0;
  overflow: hidden overlay;
  overscroll-behavior: contain;
  will-change: scroll-position;

  &.has-mask {
    -webkit-mask-image: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0.8) 10%,
      #fff 25%
    );
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover::-webkit-scrollbar {
    display: block;
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-top: 15px;
    padding-left: 0;
    list-style: none;
    position: relative;
  }
}

.sidebar__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px 10px;
  padding: 15px 8px;
  width: 200px;
  height: 109px;
  border-radius: 8px;
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);

  &-description {
    display: block;
    text-align: center;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    width: 100%;
    margin: 0 0 10px;
  }

  &-btn.button {
    width: 125px;
    height: 29px;
    font-weight: 600;
    border: 1px solid var(--white-color);
  }
}

.sidebar__menu-item {
  padding: 8px 28px;
  height: 38px;

  &.menu-header {
    height: 42px;
    display: flex;
    align-items: center;

    i {
      font-size: 1.4rem;
      padding: 5px;
      color: var(--text-color);
      cursor: pointer;
    }
  }
}

.sidebar__menu-title {
  font-size: 1.2rem;
  line-height: 2.6rem;
  margin-right: 100px;
  font-weight: 800;
  color: var(--text-color);
}

.sidebar__menu-link {
  display: inline-flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);

  span {
    display: inline-block;
    font-size: 1.3rem;
    padding-left: 10px;
    transform: translateY(1px);
  }
}
