/* Favotite artist */
.row__item.item--fav-artist .row__item-display-content {
	padding: 0 15px 15px;
}

.row__item.item--fav-artist .row__item-display .overlay {
	background-color: rgba(0, 0, 0, 0.3);
}

.row__item.item--fav-artist .row__item-actions {
	height: 50%;
	align-items: flex-end;
}

.display__content-explication {
	margin: 0;
	width: 100%;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5rem;
	color: var(--white-color);
	text-transform: uppercase;
}

.display__content-artist {
	margin: 0;
	width: 100%;
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 3.3rem;
	color: var(--white-color);
	text-transform: capitalize;
}

.display__content-list {
	width: 100%;
	display: flex;
	margin-top: 8px;
	align-items: center;
	justify-content: space-between;
}

.display__content-list-song {
	flex: 1;
}

.display__content-list-song + .display__content-list-song {
	margin-left: 10px;
}

.display__content-song-img {
	width: 100%;
	padding-top: 100%;
	border-radius: 6px;
}

.row__item.item--fav-artist .control-btn.btn-toggle-play {
	font-size: 4.5rem;
}

.btn--fav-artist .btn-toggle-play i {
	color: var(--white-color);
	border-color: var(--white-color);
}
