.setting__menu {
  position: absolute;
  right: 0;
  width: 240px;
  z-index: 200;
  display: none;
  overflow: hidden;
  border-radius: 8px;
  padding-bottom: 10px;
  top: calc(100% + 10px);
  background-color: var(--primary-bg);
}

.setting__menu.open {
  display: block;
}
