.content__navbar {
	display: flex;
	min-height: 52px;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;

	&-container {
		width: 100%;
		display: flex;
	}

	&-menu {
		height: 32px;
		padding: 3px;
		margin: 0 auto;
		border-radius: 15px;

		display: flex;
		align-items: center;
		justify-content: center;

		background-color: var(--bg-content-color);
		list-style: none;
	}

	&-item {
		display: flex;
		height: 100%;
		min-width: 100px;

		border-radius: 15px;

		cursor: pointer;
		overflow: hidden;
		text-align: center;

		color: var(--text-color);
		-webkit-tap-highlight-color: transparent;

		a {
			flex: 1;
			padding: 7px 25px;

			text-align: center;
			font-weight: 100;
			font-size: 1.2rem;
			line-height: 1.2rem;
			white-space: nowrap;
			text-transform: uppercase;
			transition: all 0.1s;

			&.active {
				background-color: var(--tab-active-color);
				color: var(--text-item-hover);
			}
		}
	}
}
