%showProgressPoint {
	.progress__track.volume--track {
		height: 5px;
		border-radius: 100px;
	}

	.progress__track.volume--track .progress__track-update {
		height: 5px;
		border-radius: 100px;
	}

	.progress__track.volume--track .progress__track-update::after {
		display: block;
	}
}

/* Volume */
.player__volume-progress {
	width: 70px;
	height: 20px;
	display: flex;
	margin: 0 20px 0 5px;
	position: relative;
	align-items: center;
	justify-content: center;

	&:hover {
		@extend %showProgressPoint;
	}
}

.progress__track.volume--track {
	width: 100%;
}

.volume:active .volume__range.horizontal ~ .volume__background,
.volume:hover .volume__range.horizontal ~ .volume__background {
	display: block;
}

.volume__range {
	opacity: 1;
	z-index: 10;
	width: 100%;
	height: 100%;
	outline: none;
	cursor: pointer;
	margin-bottom: 0px;
	position: absolute;
	transform: rotate(0deg);
	-webkit-appearance: none;
	-webkit-transition: 0.2s;
	background-color: transparent;
	transition: opacity 0.2s, rotate 0.2s, translateX 0.2s;

	&::-webkit-slider-thumb {
		width: 1px;
		height: 20px;
		cursor: pointer;
		appearance: none;
		border-radius: 999px;
		-webkit-appearance: none;
		background-color: transparent;
	}
}

.volume:hover .volume__range,
.volume:active .volume__range {
	display: block;
}

.player__options {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	&-container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&-btn.option-btn {
		width: 30px;
		height: 30px;
		padding: 6px;

		.btn--icon {
			width: 18px;
			height: 18px;
			font-size: 1.8rem;
			color: var(--text-color);
		}
	}
	&-btn.volume {
		&:hover {
			& ~ .player__volume-progress {
				@extend %showProgressPoint;
			}
		}
	}
}

.player__list-icon {
	width: 28px;
	height: 30px;
	line-height: 3rem;
	margin-left: 20px;
	border-radius: 4px;
	text-align: center;
	position: relative;
	color: var(--text-color);
	background-color: var(--bg-color);

	&::before {
		content: '';
		width: 1px;
		height: 33px;
		display: block;
		position: absolute;
		top: 0;
		left: -18px;
		transform: translateY(-25%);
		background-color: var(--bg-color);
	}
}
